<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite thread-count="4" parallel="methods" name="CarInsuranceService">
    <test name="CarInsuranceService Tests">
        <classes>
            <class name="CarInsuranceServiceClassTest"/>
        </classes>
    </test>
</suite>